useDynLib(expSBM, .registration=TRUE)
importFrom(stats, dist, rgamma, runif, cmdscale, kmeans)
importFrom(Rcpp, evalCpp)
importFrom(mclust, Mclust)
importFrom(mclust, mclustBIC)
importFrom(gtools, rdirichlet)
export("expSBM_ELBO")
export("expSBM_EM")
export("expSBM_init")
export("expSBM_select")
